.mycontainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 10px;
  align-items: stretch; /* Ensures all cards have the same height */
  margin-top: 40px;
  justify-content: center;
}

.MyCard mat-card:hover {
  cursor: pointer;
  background-color: rgb(178, 161, 161) !important;
  transition: 0.3s;
}
::ng-deep .mat-spinner circle {
  stroke: white !important;
}
.circle {
  width: 40px;
  height: 40px;
  background-color: #4caf50; /* لون الكرة */
  border-radius: 50%; /* يجعلها دائرية */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; /* لون الرقم */
  font-size: 24px; /* حجم الرقم */
  font-weight: bold; /* سمك الرقم */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* ظل خفيف */
  z-index: 2;
  top: 10px;
  position: absolute;
  right: 10px;
}
